.codbox {
  text-decoration: none;
  position: relative;
  line-height: 1.563rem;
  color: inherit;
  display: inline-block;
  min-width: 4.125rem;
  white-space: nowrap;
}
.button-1,
.button-1-wrapper {
  display: flex;
  align-items: flex-start;
}
.button-1 {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid #242424;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-lgi) var(--padding-11xs)
    var(--padding-xl);
}
.button-1-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
}
.products {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 5.875rem;
  white-space: nowrap;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.products1 {
  flex: 1;
  position: relative;
  line-height: 1.375rem;
  white-space: pre-wrap;
}
.product-item {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-700);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini) 0;
  white-space: nowrap;
  z-index: 1;
}
.products2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 1.375rem;
  font-weight: 700;
  color: inherit;
  white-space: pre-wrap;
}
.product-item1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-700);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini) 0;
  white-space: nowrap;
  margin-left: -0.5rem;
}
.product-item1,
.product-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.products3 {
  flex: 1;
  position: relative;
  line-height: 1.375rem;
  white-space: pre-wrap;
}
.frame1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-700);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini) 0;
  white-space: nowrap;
}
.products4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 1.375rem;
  font-weight: 700;
  color: inherit;
}
.frame2,
.product-row1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-700);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini) 0;
  white-space: nowrap;
  z-index: 1;
  margin-left: -1.688rem;
}
.product-row1 {
  width: 15.938rem;
}
.start-today1 {
  text-decoration: none;
  position: relative;
  line-height: 1.375rem;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 5rem;
}
.container-81 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-3xl) var(--padding-6xs)
    var(--padding-4xl);
  white-space: nowrap;
}
.container-8-wrapper,
.container-81,
.products-grid {
  align-items: flex-start;
  justify-content: flex-start;
}
.container-8-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  text-align: center;
  color: var(--color-white);
}
.products-grid {
  flex: 1;
}
.container-2,
.frame-parent18,
.products-grid {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent18 {
  width: 49rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-sm);
}
.container-2 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefefe;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-11xl) var(--padding-10xs) 5.937rem;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.bittorrent-token {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
}
.dalle-2024-06-06-212216-i {
  height: 10.688rem;
  width: 9.25rem;
  position: absolute;
  margin: 0 !important;
  bottom: -3.375rem;
  left: -1rem;
  object-fit: cover;
  z-index: 1;
}
.bittorrent-token-parent {
  width: 30.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.tokenizing-the-worlds {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 2.125rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.tokenizing-the-worlds-largest-wrapper {
  width: 38.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line9,
.build-your-website {
  margin: 0;
}
.btt-is-a-container {
  width: 30.813rem;
  position: relative;
  line-height: 1.625rem;
  display: inline-block;
  flex-shrink: 0;
  min-width: 30.813rem;
  max-width: 100%;
}
.bittorrent-token1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-15 {
  position: absolute;
  top: 1.5rem;
  left: 0;
  border-radius: 196px;
  width: 24.5rem;
  height: 24.5rem;
}
.dalle-2024-06-06-212216-i1 {
  position: absolute;
  top: 0;
  left: 4.938rem;
  width: 20.813rem;
  height: 21.938rem;
  object-fit: contain;
  z-index: 1;
}
.token-images {
  height: 26rem;
  width: 25.75rem;
  position: absolute;
  margin: 0 !important;
  top: -22.437rem;
  left: -9.062rem;
}
.token-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.blockchain-info,
.footer,
.token-info {
  display: flex;
  align-items: flex-start;
}
.footer {
  width: 19.063rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.625rem 0 0;
  box-sizing: border-box;
  min-width: 19.063rem;
  font-size: 4rem;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.blockchain-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-silver);
  font-family: var(--font-manrope);
}
.frame-parent20 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--font-size-5xl);
}
.conversion-output-child,
.frame-parent19,
.frame-parent20 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent19 {
  width: 62.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.conversion-output-child {
  width: 86.75rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 2.875rem;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.conversion-output8 {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #37383e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-114xl);
  box-sizing: border-box;
  gap: 8.562rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .product-row {
    display: none;
  }
  .container-2 {
    padding-left: var(--padding-28xl);
    box-sizing: border-box;
  }
  .bittorrent-token {
    font-size: 2.313rem;
    line-height: 3.188rem;
  }
  .btt-is-a-container {
    flex: 1;
  }
  .bittorrent-token1 {
    font-size: 3.188rem;
    line-height: 3.188rem;
  }
  .footer {
    flex: 1;
  }
  .blockchain-info {
    flex-wrap: wrap;
  }
  .conversion-output8 {
    gap: 4.25rem;
  }
}
@media screen and (max-width: 700px) {
  .products2 {
    display: none;
  }
  .btt-is-a-container {
    min-width: 100%;
  }
  .frame-parent19 {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .product-row1 {
    display: none;
  }
  .frame-parent18 {
    gap: var(--gap-lg);
  }
  .container-2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .bittorrent-token {
    font-size: var(--font-size-9xl);
    line-height: 2.375rem;
  }
  .tokenizing-the-worlds {
    font-size: var(--font-size-lgi);
    line-height: 1.688rem;
  }
  .bittorrent-token1 {
    font-size: var(--font-size-19xl);
    line-height: 2.375rem;
  }
  .conversion-output8 {
    gap: var(--gap-15xl);
  }
}
